{
   "name":{{cluster.name}},
   "description":{{cluster.description}},
   "vxnet":{{cluster.vxnet}},
   "backup_policy": "device",
   "incremental_backup_supported": true,
   "advanced_actions": ["change_vxnet", "scale_horizontal"],
   "nodes":[
      {
         "role":"replica",
         "container":{
            "type":"kvm",
            "zone":"sh1",
            "image":"img-aodhxw9n"
         },
         "user_access": true,
         "instance_class":{{cluster.replica.instance_class}},
         "count":{{cluster.replica.count}},
         "cpu":{{cluster.replica.cpu}},
         "memory":{{cluster.replica.memory}},
         "volume":{
            "size":{{cluster.replica.volume_size}},
            "mount_point":"/data",
            "filesystem":"xfs"
         },
         "services": {
			"init": {
            "post_start_service": true,
				"cmd": "/opt/mongodb/app/scripts/node-init.sh"
			},
			"start": {
				"cmd": "/opt/mongodb/app/scripts/node-start.sh"
			},
			"stop": {
				"cmd": "/opt/mongodb/app/scripts/node-stop.sh"
			},
			"scale_out": {
				"cmd": "/opt/mongodb/app/scripts/node-scaleout.sh"
			},
			"scale_in": {
				"cmd": "/opt/mongodb/app/scripts/node-scalein.sh"
			},
			"destroy": {
				"cmd": "/opt/mongodb/app/scripts/node-destroy.sh"
			}
		}
	}],
   "env": {
        "rsname": {{env.rsname}},
        "port": {{env.port}}
   }
}